{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub-Add Student</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

    <!-- The link for the font awesome to import the icons -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The link for the font awesome to import the icons -->

</head>
<body class="add_stu">

    <!-- Navigation Bar (Menu Bar) -->

        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'users:dashboard' %}">
                    <img src="{% static 'images/logo.png' %}">
                </a>
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:dashboard' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="studentsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Students
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="studentsDropdown">
                                <li><a class="dropdown-item" href="{% url 'users:add_stu' %}">Add Student</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'users:view_stu' %}">View Students</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'users:upload_stu' %}">Upload Students</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="profileDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:my_profile' %}">
                                        <i class="fa fa-user-circle"></i> My Profile
                                    </a>
                                </li>
                                {% if user.is_superuser %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-user-plus"></i> Add User
                                        </a>
                                    </li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">
                                        <i class="fa fa-sign-out"></i> Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  
    <!-- Navigation Bar (Menu Bar) -->

    <!-- Add Student -->

        <section class="gptu_mchub-users-add_stu">
            <div class="container">
                <h2 class="text-center mb-4">Add Student to GPTU MC HUB</h2>
                <!-- To Display the Error Message -->
            
                    {% if messages %}
                        {% for message in messages %}
                            <div class="custom-message {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
            
                <!-- To Display the Error Message -->
                
                <form action="{% url 'users:add_stu' %}" method="POST">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label">First Name</label>
                            <input type="text" name="first_name" value="{{ first_name }}" class="form-control {% if first_name_error %}error-field{% endif %}" placeholder="Enter first name">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Last Name</label>
                            <input type="text" name="last_name" value="{{ last_name }}" class="form-control {% if last_name_error %}error-field{% endif %}" placeholder="Enter last name">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Date of Birth</label>
                            <input type="date" name="dob" value="{{ dob }}" class="form-control" placeholder="DD/MM/YYYY">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Gender</label>
                            <select name="gender" class="form-control {% if gender_error %}error-field{% endif %}">
                                <option selected disabled>Select Gender</option>
                                <option value="Female" {% if gender == "Female" %}selected{% endif %}>Female</option>
                                <option value="Male" {% if gender == "Male" %}selected{% endif %}>Male</option>
                                <option value="Others" {% if gender == "Others" %}selected{% endif %}>Others</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Blood Group</label>
                            <select name="blood_group" class="form-control">
                                <option selected disabled>Select Blood Group</option>
                                <option value="A+" {% if blood_group == "A+" %}selected{% endif %}>A+</option>
                                <option value="A-" {% if blood_group == "A-" %}selected{% endif %}>A-</option>
                                <option value="B+" {% if blood_group == "B+" %}selected{% endif %}>B+</option>
                                <option value="B-" {% if blood_group == "B-" %}selected{% endif %}>B-</option>
                                <option value="AB+" {% if blood_group == "AB+" %}selected{% endif %}>AB+</option>
                                <option value="AB-" {% if blood_group == "AB-" %}selected{% endif %}>AB-</option>
                                <option value="O+" {% if blood_group == "O+" %}selected{% endif %}>O+</option>
                                <option value="O-" {% if blood_group == "O-" %}selected{% endif %}>O-</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Mother Tongue</label>
                            <input type="text" name="mother_tongue" value="{{ mother_tongue }}" class="form-control" placeholder="Enter Mother Tongue">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Differently abled</label>
                            <select name="differently_abled" class="form-control">
                                <option selected disabled>Select "Yes/No"</option>
                                <option value="Yes" {% if differently_abled == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if differently_abled == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Religion</label>
                            <select name="religion" class="form-control">
                                <option selected disabled>Select Religion</option>
                                <option value="Hindu" {% if religion == "Hindu" %}selected{% endif %}>Hindu</option>
                                <option value="Christian" {% if religion == "Christian" %}selected{% endif %}>Christian</option>
                                <option value="Islam" {% if religion == "Islam" %}selected{% endif %}>Islam</option>
                                <option value="Others" {% if religion == "Others" %}selected{% endif %}>Others</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Community</label>
                            <select name="community" class="form-control">
                                <option selected disabled>Select Community</option>
                                <option value="BC" {% if community == "BC" %}selected{% endif %}>BC</option>
                                <option value="MBC" {% if community == "MBC" %}selected{% endif %}>MBC</option>
                                <option value="SC" {% if community == "SC" %}selected{% endif %}>SC</option>
                                <option value="ST" {% if community == "ST" %}selected{% endif %}>ST</option>
                                <option value="OC" {% if community == "OC" %}selected{% endif %}>OC</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Register number</label>
                            <input type="text" name="reg_no" value="{{ reg_no }}" class="form-control {% if reg_no_error %}error-field{% endif %}" placeholder="Enter Register number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Program Name</label>
                            <select name="program_name" class="form-control {% if program_name_error %}error-field{% endif %}">
                                <option selected disabled>Select Program Name</option>
                                <option value="DCIVIL" {% if program_name == "DCIVIL" %}selected{% endif %}>DCIVIL</option>
                                <option value="DMECH" {% if program_name == "DMECH" %}selected{% endif %}>DMECH</option>
                                <option value="DEEE" {% if program_name == "DEEE" %}selected{% endif %}>DEEE</option>
                                <option value="DECE" {% if program_name == "DECE" %}selected{% endif %}>DECE</option>
                                <option value="DCSE" {% if program_name == "DCSE" %}selected{% endif %}>DCSE</option>
                                <option value="DMX" {% if program_name == "DMX" %}selected{% endif %}>DMX</option>
                                <option value="DMT" {% if program_name == "DMT" %}selected{% endif %}>DMT</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Program Type</label>
                            <select name="program_type" class="form-control {% if program_type_error %}error-field{% endif %}">
                                <option selected disabled>Select Program Type</option>
                                <option value="Regular" {% if program_type == "Regular" %}selected{% endif %}>Regular</option>
                                <option value="Lateral" {% if program_type == "Lateral" %}selected{% endif %}>Lateral</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Year of Joining</label>
                            <input type="date" name="year_of_joining" value="{{ year_of_joining }}" class="form-control" placeholder="Enter the Year of Joining">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Name of the Mentor</label>
                            <input type="text" name="mentor_name" class="form-control" value="{{ mentor_name }}">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">SSLC Mark</label>
                            <input type="text" name="sslc_mark" value="{{ sslc_mark }}" class="form-control {% if sslc_error %}error-field{% endif %}" placeholder="Enter SSLC Mark">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">HSC/ITI Mark</label>
                            <input type="text" name="hsc_iti_mark" value="{{ hsc_iti_mark }}" class="form-control" placeholder="Enter HSC/ITI Mark">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Studied in Govt. School</label>
                            <select name="govt_school" class="form-control">
                                <option selected disabled>Select "Yes/No"</option>
                                <option value="Yes" {% if govt_school == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if govt_school == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">EMIS Number</label>
                            <input type="text" name="emis_number" value="{{ emis_number }}" class="form-control {% if emis_number_error %}error-field{% endif %}" placeholder="Enter EMIS Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Hosteller</label>
                            <select name="hosteller" class="form-control">
                                <option selected disabled>Select "Yes/No"</option>
                                <option value="Yes" {% if hosteller == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if hosteller == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Extra Curricular (Optional)</label>
                            <input type="text" name="extra_curricular" value="{{ extra_curricular }}" class="form-control" placeholder="Enter Extra Curricular">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Any achievements (Optional)</label>
                            <input type="text" name="achievements" value="{{ achievements }}" class="form-control" placeholder="Enter Any achievements">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Aadhar Card Number</label>
                            <input type="text" name="aadhar_number" value="{{ aadhar_number }}" class="form-control {% if aadhar_error or aadhar_not_error %}error-field{% endif %}" maxlength="12" size="12" placeholder="Enter Aadhar Card Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Father Name</label>
                            <input type="text" name="father_name" value="{{ father_name }}" class="form-control" placeholder="Enter Father Name">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Mother Name</label>
                            <input type="text" name="mother_name" value="{{ mother_name }}" class="form-control" placeholder="Enter Mother Name">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Mobile Number - Father</label>
                            <input type="text" name="mobile_father" value="{{ mobile_father }}" class="form-control" maxlength="10" size="10" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Mobile Number - Mother</label>
                            <input type="text" name="mobile_mother" value="{{ mobile_mother }}" class="form-control" maxlength="10" size="10" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Mobile Number - Sibling (Optional)</label>
                            <input type="text" name="mobile_sibling" value="{{ mobile_sibling }}" class="form-control" maxlength="10" size="10" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Mobile Number - Guardian (Optional)</label>
                            <input type="text" name="mobile_guardian" value="{{ mobile_guardian }}" class="form-control" maxlength="10" size="10" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Father Occupation</label>
                            <input type="text" name="father_occupation" value="{{ father_occupation }}" class="form-control" placeholder="Enter Father Occupation">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Single Parent</label>
                            <select name="single_parent" class="form-control">
                                <option selected disabled>Select "Yes/No"</option>
                                <option value="Yes" {% if single_parent == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if single_parent == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">First Graduate</label>
                            <select name="first_graduate" class="form-control">
                                <option selected disabled>Select "Yes/No"</option>
                                <option value="Yes" {% if first_graduate == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if first_graduate == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">E-Mail ID</label>
                            <input type="email" name="email" value="{{ email }}" class="form-control {% if email_error %}error-field{% endif %}" placeholder="Enter E-Mail ID">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Address</label>
                            <input type="text" name="address" value="{{ address }}" class="form-control" placeholder="Enter Address">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">District</label>
                            <input type="text" name="district" value="{{ district }}" class="form-control" placeholder="Enter District">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">PIN Code</label>
                            <input type="text" name="pin_code" value="{{ pin_code }}" class="form-control" placeholder="Enter PIN Code">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Name of the Bank</label>
                            <input type="text" name="bank_name" value="{{ bank_name }}" class="form-control" placeholder="Enter Name of the Bank">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Branch Name</label>
                            <input type="text" name="branch_name" value="{{ branch_name }}" class="form-control" placeholder="Enter Branch Name">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Account Number</label>
                            <input type="text" name="account_number" value="{{ account_number }}" class="form-control" placeholder="Enter Account Number">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">IFSC Code</label>
                            <input type="text" name="ifsc_code" value="{{ ifsc_code }}" class="form-control" placeholder="Enter IFSC Code">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </section>

    <!-- Add Student -->

    <!-- Footer of the webpage -->

        <div class="gptu_mchub-footer">
            <div class="container">
                <h1>Govt. Polytechnic College Uthangarai</h1>
                <div class="gptu_mchub-footer-dev">
                    <hr>
                    <p>
                        © Govt Polytechnic College, Uthangarai. All Rights Reserved<br>
                        <small>Developed by GPT Uthangarai from the Department of Computer Engineering</small>
                    </p>
                </div>
            </div>
        </div>

    <!-- Footer of the webpage -->


    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->

    <!-- The Link for the Java Script file -->

        <script src="{% static 'js/script.js' %}"></script>

    <!-- The Link for the Java Script file -->
</body>
</html>