{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

    <!-- The link for the font awesome to import the icons -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The link for the font awesome to import the icons -->

</head>
<body>

    <!-- Navigation Bar (Menu Bar) -->
   
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div class="container-fluid">
                
                <!-- Logo -->
                
                    <a class="navbar-brand" href="{% url 'users:dashboard' %}"><img src="{% static 'images/logo.png' %}"></a>

                <!-- Logo -->

                <!-- Toggle Button for Mobile -->

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <!-- Toggle Button for Mobile -->

                <!-- Nav Links -->

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:dashboard' %}">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:add_stu' %}">Add Student</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                          </li>
                        </ul>
                    </div>

                <!-- Nav Links -->
                
            </div>
        </nav>
  
    <!-- Navigation Bar (Menu Bar) -->

    <!-- Home Page content -->

        <section class="gptu_mchub-users-dashboard-header">
            <div class="container">
                <div class="dashboard-user">
                    <h5>Welcome to GPTU MC HUB</h5>
                    {% if gender == "female" %}
                        <h1>Ms. {{ first_name }} {{ last_name }}</h1>
                    {% elif gender == "male" %}
                        <h1>Mr. {{ first_name }} {{ last_name }}</h1>
                    {% else %}
                        <h1>{{ first_name }} {{ last_name }}</h1>
                    {% endif %}

                    {% if department == "dcivil" %}
                        <p>(Civil Engineering)</p>
                    {% elif department == "dmech" %}
                        <p>(Mechanical Engineering)</p>
                    {% elif department == "deee" %}
                        <p>(Electrical & Electronicsx Engineering)</p>
                    {% elif department == "dece" %}
                        <p>(Electronics & Communication Engineering)</p>
                    {% elif department == "dcse" %}
                        <p>(Computer Engineering)</p>
                    {% elif department == "dmx" %}
                        <p>(Mechatronics Engineering)</p>
                    {% elif department == "dmt" %}
                        <p>(Digital Manufacturing Technology)</p>
                    {% else %}
                        <p>(Admin)</p>
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="container">
            <div class="search-container">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" required>
                    <button class="btn btn-primary" type="submit"></button>
                </form>
            </div>
            {% if department == 'dcivil' %}
                <h1>Department of Civil Engineering</h1>
                <p>
                    "Civil Engineering is the art of directing the great source of power in nature for the use and convenience of man".
                </p>
                <p>
                    To produce Civil Engineers of high caliber, technical skills and ethical values to serve the society and nation.
                </p>
                <p>
                    To promote innovative and original thinking in the of budding engineers to face the challenges of the future.
                </p>
            {% elif department == 'dcse' %}
                <h1>Department of Computer Engineering</h1>
                <p>
                    The Department of Computer Engineering was started in the year 2013 and offers 3 years diploma course in computer 
                    Engineering to provide an excellent knowledge to the students in computer Engineering in order to meet the 
                    challenges of the future , including employment skill in high technology workforce and the ability to pursue 
                    higher studies. Train them as future technocrats with basic knowledge in both theory and practice in Computer 
                    Engineering, including current emerging technologies and experimental learning.
                </p>
            {% elif department == 'dece' %}
                <h1>Department of ECE</h1>
                <p>
                    The Department of Electronics and Communication Engineering has well qualified and highly motivated faculty and well 
                    equipped laboratories. The equipments available in the laboratory are upgraded as an ongoing process so as to keep pace 
                    with the latest developments in the field of Electronics & Communication Engineering.
                </p>
                <p>
                    The Department is imparting the required Technical and Practical knowledge to the students. An effort is made to groom 
                    these students not only to become successful Electronics & Communication Engineers but also as top notch professionals. 
                    The amenities in the Department are also capable to meet the requirements of carrying out research work.
                </p>
            {% else %}
                <h1>bye</h1>
            {% endif %}
        </div>

    <!-- Home Page content -->

    <!-- Footer of the webpage -->

        <div class="gptu_mchub-footer">
            <div class="container">
                <h1>Govt. Polytechnic College Uthangarai</h1>
                <div class="gptu_mchub-footer-dev">
                    <hr>
                    <p>
                        © Govt Polytechnic College, Uthangarai. All Rights Reserved<br>
                        <small>Developed by GPT Uthangarai from the Department of Computer Engineering</small>
                    </p>
                </div>
            </div>
        </div>

    <!-- Footer of the webpage -->


    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->

    <!-- The Link for the Java Script file -->

        <script src="{% static 'js/script.js' %}"></script>

    <!-- The Link for the Java Script file -->
</body>
</html>