{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub</title>

    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

</head>
<body>

    <!-- Menu Bar (Navigation bar) -->

        <div class="navbar">
            <nav>
                <div class="logo">
                    <a href="#"><img src="{% static 'images/logo.png' %}"></a>
                </div>
    
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </nav>
        </div>

    <!-- Menu Bar (Navigation bar) -->

    <!-- Home Page (Header) -->

        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="two-column">
                        <h2>WELCOME TO</h2>
                        <h1>GPTU Mentor & Counselling Hub</h1>
                        <p>
                            One of the Best Polytechnic college in Uthangari. Best of luck to each and everyone to 
                            become a Junior Engineer.<br><br>
                            <b>“Education is the powerful weapon with which you can change the world”</b>
                        </p>
                    </div>
                    <div class="two-column">
                        <div class="login">
                            <form action="">
                                <h1>Log In</h1>
                                <div class="access-inp">
                                    <input type="text" placeholder="Enter the Username" required>
                                </div>
                                <div class="access-inp">
                                    <input type="password" placeholder="Enter the Password" required>
                                </div>
                                <div class="for-pass">
                                    <a href="#">Forgot Password?</a>
                                </div>
                                <button class="access-btn" type="submit">Log In</button>
                                <div class="register-link">
                                    <label>Don't have an account? <a href="#">Create an account</a></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- Home Page (Header) -->

</body>
</html>