*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*---------- Scroll Bar ----------*/

  ::-webkit-scrollbar{
    width: 10px;
  }

  ::-webkit-scrollbar-thumb{
    border-radius: 6px;
    border: 2px solid white;
    background: black;
  }

/*---------- Scroll Bar ----------*/

/*---------- Navigation Bar (Menu Bar) ----------*/

  /*---------- Custom Navbar Background Color ----------*/

    .custom-navbar {
      background-color: black !important;
    }

  /*---------- Custom Navbar Background Color ----------*/
      
  /*---------- Navbar Links Color ----------*/

    .navbar-dark .navbar-nav .nav-link {
      color: white !important;
    }

  /*---------- Navbar Links Color ----------*/
    
  /*---------- Navbar Toggler Icon Color ----------*/

    .navbar-dark .navbar-toggler {
      border-color: none !important;
    }
    
    .navbar-dark .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .navbar-brand img {
      width: 200px;
    }

    .nav-item {
      margin-right: 20px;
    }

  /*---------- Navbar Toggler Icon Color ----------*/

/*---------- Navigation Bar (Menu Bar) ----------*/

/*---------- Home ----------*/

  .gptu_mchub-home-index-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/bg.jpg);
    color: white;
  }

  .home-content {
    color: white;
    text-align: center;
  }

  .home-content h1,
  .home-content h5 {
    font-weight: bolder;
  }

  .home-content p {
    margin-bottom: 45px;
  }

  .home-btn1 {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 60px;
    border: 1px solid white;
    border-radius: 40px;
  }

  .home-btn1:hover {
    color: black;
    text-decoration: none;
    background: white;
    transition: 0.5s;
    border: white;
    box-shadow: 0 0 20px 0 white;
  }

/*---------- Home ----------*/

/*---------- Web access styles ----------*/

  /*---------- Web access general styles ----------*/

    .gptu_mchub-home-login,
    .gptu_mchub-home-signup,
    .gptu_mchub-home-verify-otp {
      background-color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .gptu_mchub-home-login h1,
    .gptu_mchub-home-signup h1,
    .otp-container h1 {
      color: black;
      font-weight: 600;
    }

    .login-container .form-control,
    .gptu_mchub-home-fp .form-control,
    .gptu_mchub-home-rp .form-control,
    .otp-container .form-control {
      border-radius: 40px;
      padding: 17px;
      font-size: small;
      color: black !important;
    }

    .login-container .form-control:focus,
    .login-container .form-control:active,
    .signup-container .form-control:focus,
    .signup-container .form-control:active,
    .otp-container .form-control:focus,
    .otp-container .form-control:active,
    .gptu_mchub-home-fp .form-control:focus,
    .gptu_mchub-home-fp .form-control:active,
    .gptu_mchub-home-rp .form-control:focus,
    .gptu_mchub-home-rp .form-control:active {
      box-shadow: none;
      border: 1px solid black;
    }

    .login-container .form-control::placeholder,
    .signup-container .form-control::placeholder,
    .gptu_mchub-home-fp .form-control::placeholder,
    .gptu_mchub-home-rp .form-control::placeholder,
    .otp-container .form-control::placeholder {
      color: black;
      font-size: small;
    }

    .btn-primary {
      width: 100%;
      background-color: black !important;
      border: none;
      padding: 15px;
      border-radius: 40px;
      font-weight: 600;
    }

    .btn-primary:hover,
    .verify-btn:hover {
      box-shadow: 0 0 10px 0 black;
      transition: 0.5s;
    }

    .close-icon {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
      color: black;
      transition: color 0.3s ease;
      border: 1px solid black;
      padding: 0 13px;
      border-radius: 40px;
    }

    .close-icon:hover {
      color: white;
      background-color: black;
      transition: 0.5s;
      border: 1px solid black;
    }

  /*---------- Web access general styles ----------*/

  /*---------- Log In ----------*/

    .login-container {
      background-color: white;
      padding: 2rem;
      border-radius: 25px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
    }

    .custom-message {
      font-size: large;
      margin: 15px 0;
    }

    .error-message {
      color: red;
      text-align: center;
    }

    .success-message {
      color: rgb(10, 179, 10);
      text-align: center;
    }

    .forgot-password {
      margin-bottom: 15px;
    }

    .forgot-password a {
      color: black;
      text-decoration: none;
      transition: color 0.3s;
    }

    .forgot-password a:hover {
      color: black;
      text-decoration: underline;
    }

    .signup-link {
      text-decoration: none;
      color: black;
    }

    .signup-link:hover {
      text-decoration: underline;
      cursor: pointer;
      color: black;
    }

  /*---------- Log In ----------*/

  /*---------- Account password reseting ----------*/

    .gptu_mchub-home-fp,
    .gptu_mchub-home-rp {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f8f9fa;
      flex-direction: column;
    }
    
    .form-title {
      text-align: left;
      margin-bottom: 20px;
      font-weight: 600;
      color: black;
    }
  
    .gptu_mchub-home-fp .custom-message,
    .gptu_mchub-home-rp .custom-message {
      text-align: left;
    }
  
    .gptu_mchub-home-fp .col-md-6,
    .gptu_mchub-home-rp .col-md-6 {
      color: gray;
    }
  
    @media (max-width: 576px) {
      .form-container .row {
          flex-direction: column;
      }
      .form-container .col-8, 
      .form-container .col-4 {
          width: 100%;
          margin: 8px 0;
      }
      .gptu_mchub-home-fp .col-md-6,
      .gptu_mchub-home-rp .col-md-6 {
        margin-top: 15px;
      }
      .form-title {
        text-align: center;
      }
    }

  /*---------- Account password reseting ----------*/

  /*---------- Sign Up ----------*/

    .signup-container {
      background-color: white;
      padding: 2rem;
      border-radius: 25px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      max-width: 600px;
      width: 100%;
      margin: 60px 0 0 0;
    }

    .signup-container .form-control,
    .signup-container select {
      border-radius: 40px;
      padding: 15px;
      font-size: small;
      color: black !important;
    }

    .signup-container .form-control:not(#email) {
      width: 250px;
    }

    @media (max-width: 576px) {
      .signup-container .form-control,
      .signup-container select {
        width: 100% !important;  /* Full width for small screens */
        margin-bottom: 10px;     /* Add spacing between stacked fields */
      }
    
      .signup-container .row {
        display: block;          /* Stack the columns vertically */
      }
    
      .signup-container .col {
        width: 100%;             /* Full width for each column */
      }
    }

  /*---------- Sign Up ----------*/

  /*---------- OTP Verification ----------*/

.otp-container {
  background-color: white;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.otp-container p {
  text-align: center;
  font-weight: 600;
}

.verify-btn {
  width: 100%;
  background-color: black !important;
  border: none;
  padding: 15px;
  border-radius: 40px;
  font-weight: 600;
  color: white;
}

.resend-btn {
  background-color: gray;
  color: none;
  cursor: not-allowed;
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 40px;
  font-weight: 600;
  margin-top: 16px;
}

.resend-btn:enabled {
  background-color: white;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid black;
}

#timer {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}

/*---------- Web access styles ----------*/

/*---------- About Us ----------*/

  .gptu_mchub-home-aboutus {
    padding: 30px 0;
  }

  .gptu_mchub-home-aboutus h1 {
    font-weight: 600;
    text-align: center;
  }

  .gptu_mchub-home-aboutus p {
    margin-top: 20px;
    text-align: justify;
  }

  .gptu_mchub-home-aboutus-btn {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-btn2 {
    border: 1px solid black;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 40px;
  }

  .home-btn2:hover {
    color: white;
    box-shadow: 0 0 20px 0 black;
    transition: 0.5s;
    background: black;
  }

/*---------- About Us ----------*/

/*---------- Contact Us ----------*/

  .contact-container {
    background: #fff;
    padding: 0 30px 30px 30px;
    border-radius: 10px;
  }

  .contact-container h1 {
    color: black;
    font-weight: 600;
    text-align: center;
  }

  .contact-container .form-control {
    border-radius: 0;
    padding: 15px;
    font-size: small;
    color: black;
  }

  .contact-container .form-control:focus,
  .contact-container .form-control:active {
    box-shadow: none;
    border: 1px solid black;
  }

  .contact-container .form-control::placeholder {
    color: black;
  }

  .contact-container .btn-primary {
    width: 250px;
    color: black;
    border: 1px solid #ced4da;
    border-radius: 0;
    font-weight: 600;
    background-color: white !important;
  }

  .contact-container .btn-primary:hover {
    background-color: black !important;
    transition: 0.5s;
    border: 1px solid black;
    color: white;
  }

  .contact-info i {
    margin-right: 15px;
    font-size: 28px;
    color: black !important;
  }

  .contact-info h5 {
    color: black;
    font-weight: 600;
  }

  .contact-info p {
    color: gray;
  }

  .iframe-container {
    padding: 40px 0 80px 0;
  }

/*---------- Contact Us ----------*/

/*---------- Footer ----------*/

    .gptu_mchub-footer {
      background-color: black;
      padding: 25px 0;
    }

    .gptu_mchub-footer h1 {
      color: white;
      font-weight: 600;
      text-align: center;
    }

    .gptu_mchub-footer-dev{
      color: white;
      text-align: center;
    }

/*---------- Footer ----------*/