/*-------------- Common Styles --------------*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body{
        background: rgb(219, 255, 210);
    }
    
    h1{
        font-size: 40px;
        padding: 10px 0;
    }
    
    h2{
        padding-top: 15px;
        font-size: 20px;
    }
    
    
    /*-------------- Scroll Bar --------------*/
    
        ::-webkit-scrollbar{
            width: 10px;
        }
    
        ::-webkit-scrollbar-thumb{
            border-radius: 6px;
            border: 2px solid white;
            background: rgb(10, 179, 10);
        }
    
    /*-------------- Scroll Bar End --------------*/


    /*-------------- Menu Bar (Navigation Bar) --------------*/

        .navbar{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgb(10, 179, 10);
            z-index: 1000;
        }
    
        nav .logo{
            display: inline-block;
        }
    
        .navbar nav ul{
            float: right;
            list-style: none;
            padding: 17px 0 0 0;
            margin-right: 50px;
        }
    
        .navbar nav ul li{
            display: inline-block;
        }
    
        .navbar nav ul a{
            text-decoration: none;
            color: white;
            margin: auto 18px;
            font-size: 22px;
        }

    /*-------------- Menu Bar (Navigation Bar) --------------*/
    
    
    /*-------------- Text Selection Color --------------*/
    
        h1::selection,
        h2::selection,
        h3::selection,
        h4::selection,
        h5::selection,
        h6::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        p::selection,
        b::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        br::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        ul li::selection,
        ol li::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        img::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        nav ul li a::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        .btn1::selection,
        .btn2::selection,
        .btn3::selection,
        .btn4::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        th::selection,
        td::selection{
            background: white;
            color: rgb(255, 60, 0);
        }

        a::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        input::selection,
        textarea::selection,
        label::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        .footer h1::selection,
        .footer h2::selection,
        .footer h3::selection,
        .footer h4::selection,
        .footer h5::selection,
        .footer h6::selection,
        .footer p::selection,
        small::selection,
        br::selection{
            background: white;
            color: rgb(10, 179, 10);
        }
    
        .footer ul li::selection{
            background: white;
            color: rgb(10, 179, 10);
        }
    
        .footer ul li a::selection{
            background: white;
            color: rgb(10, 179, 10);
        }
    
    /*-------------- Text Selection Color End --------------*/

    /*-------------- Container --------------*/

        .container{
            width: 80%;
            margin: auto;
        }

    /*-------------- Container --------------*/

    /*-------------- Rows & Columns --------------*/

        .row{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }

    /*-------------- Rows & Columns End--------------*/

/*-------------- Common Styles End --------------*/

/*-------------- Header --------------*/

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/bg.jpg);
        color: white;
    }

/*-------------- Header --------------*/

/*-------------- Log In --------------*/

    .login{
        width: 420px;
        border-radius: 20px;
        border: 1px solid whitesmoke;
        padding: 30px 40px 40px;
        background-color: white;
    }

    .login h1{
        text-align: center;
        color: rgb(10, 179, 10);
    }

    .login .access-inp{
        width: 100%;
        height: 50px;
        margin: 15px 0 20px 0;
    }

    .access-inp input{
        width: 100%;
        height: 100%;
        outline: none;
        background-color: rgb(219, 255, 210);
        border-radius: 40px;
        padding: 0 20px;
        border: 1px solid rgb(10, 179, 10);
        color: gray;
    }

    .access-inp input::placeholder{
        color: rgb(10, 179, 10);
    }

    .for-pass{
        margin-bottom: 20px;
    }

    .for-pass a{
        color: rgb(10, 179, 10);
        text-decoration: none;
    }

    .for-pass a:hover{
        text-decoration: underline;
    }

    .login .access-btn{
        width: 100%;
        height: 45px;
        background: rgb(10, 179, 10);
        border: none;
        outline: none;
        border-radius: 40px;
        cursor: pointer;
        color: white;
        font-weight: 600;
    }

    .login .register-link{
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }

    .register-link label{
        color: rgb(10, 179, 10);
    }

    .register-link label a{
        color: rgb(10, 179, 10);
        font-weight: 600;
        text-decoration: none;
    }

    .register-link a:hover{
        text-decoration: underline;
    }

/*-------------- Log In --------------*/