/*-------------- Common Styles --------------*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body{
        background: whitesmoke;
        min-height: 700vh;
    }
    
    h1{
        font-size: 40px;
        padding: 10px 0;
    }
    
    h2{
        padding-top: 15px;
        font-size: 20px;
    }
    
    
    /*-------------- Scroll Bar --------------*/
    
        ::-webkit-scrollbar{
            width: 10px;
        }
    
        ::-webkit-scrollbar-thumb{
            border-radius: 6px;
            border: 2px solid white;
            background: rgb(10, 179, 10);
        }
    
    /*-------------- Scroll Bar End --------------*/


    /*-------------- Menu Bar (Navigation Bar) --------------*/

        .navbar{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgb(10, 179, 10);
            z-index: 1000;
        }

        nav .logo{
            display: inline-block;
        }

        .navbar nav ul{
            float: right;
            list-style: none;
            padding: 17px 0 0 0;
            margin-right: 50px;
        }

        .navbar nav ul li{
            display: inline-block;
            /*float: left;*/
        }

        .navbar nav ul a{
            text-decoration: none;
            color: white;
            margin: auto 18px;
            font-size: 22px;
        }

    /*-------------- Menu Bar (Navigation Bar) --------------*/
    
    
    /*-------------- Text Selection Color --------------*/
    
        h1::selection,
        h2::selection,
        h3::selection,
        h4::selection,
        h5::selection,
        h6::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        p::selection,
        b::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        br::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        ul li::selection,
        ol li::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        img::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        nav ul li a::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        .btn1::selection,
        .btn2::selection,
        .btn3::selection,
        .btn4::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        th::selection,
        td::selection{
            background: white;
            color: rgb(255, 60, 0);
        }
    
        input::selection,
        textarea::selection{
            background: rgb(10, 179, 10);
            color: white;
        }
    
        .footer h1::selection,
        .footer h2::selection,
        .footer h3::selection,
        .footer h4::selection,
        .footer h5::selection,
        .footer h6::selection,
        .footer p::selection,
        small::selection,
        br::selection{
            background: white;
            color: rgb(10, 179, 10);
        }
    
        .footer ul li::selection{
            background: white;
            color: rgb(10, 179, 10);
        }
    
        .footer ul li a::selection{
            background: white;
            color: rgb(10, 179, 10);
        }
    
    /*-------------- Text Selection Color End --------------*/

/*-------------- Common Styles End --------------*/