{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!-- Navigation Bar (Menu Bar) -->
   
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div class="container-fluid">
                
                <!-- Logo -->
                
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>

                <!-- Logo -->

                <!-- Toggle Button for Mobile -->

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <!-- Toggle Button for Mobile -->

                <!-- Nav Links -->

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                          </li>
                        </ul>
                    </div>

                <!-- Nav Links -->
                
            </div>
        </nav>
  
    <!-- Navigation Bar (Menu Bar) -->

    <!-- Contact Us content -->

        <section class="container mt-5 contact-container">
            <h1>Govt. Polytechnic College Uthangarai</h1>
            <div class="row iframe-container">
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15593.78096710946!2d78.5401521!3d12.2857744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac5c69cc44ef7d%3A0x717add0fe6936e37!2sGovernment%20Polytechnic%20College%2C%20Uthangarai%20(139)!5e0!3m2!1sen!2sin!4v1706273299753!5m2!1sen!2sin" 
                        style="width: 100%; height: 450px; border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 contact-info">
                    <div class="mb-3 d-flex align-items-center">
                        <i class="fa fa-address-card-o"></i>
                        <div>
                            <h5>(139) Govt. Polytechnic College</h5>
                            <p>Appinayakanpatti, Uthangarai, Krishnagiri-635207, Tamilnadu, INDIA</p>
                        </div>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <i class="fa fa-phone"></i>
                        <div>
                            <h5>+91 4341-291959</h5>
                            <p>Monday to Friday, 10AM to 4PM</p>
                        </div>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <i class="fa fa-envelope-o"></i>
                        <div>
                            <h5>gptuthangarai@gmail.com</h5>
                            <p>Email us your query</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="form-title">Students Feedback</h3>
                    <form action="{% url 'contactus' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control" placeholder="Enter email address" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="subject" class="form-control" placeholder="Enter your subject" required>
                        </div>
                        <div class="mb-3">
                            <textarea rows="7" name="message" class="form-control" placeholder="Your feedback" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Feedback</button>
                    </form>
                </div>
            </div>
        </section>

    <!-- Contact Us content -->

    <!-- Footer of the webpage -->

        <div class="gptu_mchub-footer">
            <div class="container">
                <h1>Govt. Polytechnic College Uthangarai</h1>
                <div class="gptu_mchub-footer-dev">
                    <hr>
                    <p>
                        © Govt Polytechnic College, Uthangarai. All Rights Reserved<br>
                        <small>Developed by GPT Uthangarai from the Department of Computer Engineering</small>
                    </p>
                </div>
            </div>
        </div>

    <!-- Footer of the webpage -->


    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->
</body>
</html>