{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub-Forgot Password</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

</head>
<body>

    <section class="gptu_mchub-home-fp">
        
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="form-container">
                        <span class="close-icon" data-url="{% url 'login' %}" onclick="redirectToPage()">&times;</span>
                        <h2 class="form-title">Forgot Password</h2>
                        <form class="row g-2" action="{% url 'forgot_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="col-8">
                                <input type="email" class="form-control" id="email" name="email" value="{{email}}" placeholder="Enter your email" required>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary w-100">Get link</button>
                            </div>
                            <!-- To Display the Error Message -->
                        
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="custom-message {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                        
                            <!-- To Display the Error Message -->
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Please follow the below given procedure to reset you GPTU Mentor & Counselling Hub account password.</p>
                    <ol>
                        <li>Enter your <b>"Email address"</b> at the input field which is linked to your <b>GPTU Mentor & Counselling Hub account</b>.</li>
                        <li>After successfully entered your email address just click the <b>"Get Link"</b> button to get the reset link.</li>
                        <li>If you encounter a message like <b>"Email not found"</b> kindly ensure the entered email address is correct or not.</li>
                        <li>If you encounter a message like <b>"Password reset link sent to your email."</b> the reset link is sent to your email address successfully.</li>
                        <li>Open your email and just click the <b>"Reset Link".</b></li>
                        <li>It will redirect you to <b>"The password reset page."</b></li>
                        <li><b>"After do this all, kindly close the current tab!"</b></li>
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->

    <!-- The Link for the Java Script file -->

        <script src="{% static 'js/script.js' %}"></script>

    <!-- The Link for the Java Script file -->

</body>
</html>
