{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

    <!-- The link for the font awesome to import the icons -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The link for the font awesome to import the icons -->

</head>
<body>

    <!-- Navigation Bar (Menu Bar) -->
   
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div class="container-fluid">
                
                <!-- Logo -->
                
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>

                <!-- Logo -->

                <!-- Toggle Button for Mobile -->

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <!-- Toggle Button for Mobile -->

                <!-- Nav Links -->

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                          </li>
                        </ul>
                    </div>

                <!-- Nav Links -->
                
            </div>
        </nav>
  
    <!-- Navigation Bar (Menu Bar) -->

    <!-- Home Page content -->

        <section class="gptu_mchub-home-index-header">
            <div class="container">
                <div class="home-content">
                    <h5>WELCOME TO</h5>
                    <h1>GPTU Mentor & Counselling Hub</h1>
                    <p>
                        Our website is designed to streamline student data management efficiently and securely. With an intuitive 
                        interface and a powerful backend, the platform offers features such as student data storage, easy retrieval 
                        of information, and efficient record management.<br><br>
                        <b>“Education is the powerful weapon with which you can change the world”</b>
                    </p>
                    <a href="{% url 'login' %}" class="home-btn1">Log In</a>
                </div>
            </div>
        </section>

    <!-- Home Page content -->

    <!-- Footer of the webpage -->

        <div class="gptu_mchub-footer">
            <div class="container">
                <h1>Govt. Polytechnic College Uthangarai</h1>
                <div class="gptu_mchub-footer-dev">
                    <hr>
                    <p>
                        © Govt Polytechnic College, Uthangarai. All Rights Reserved<br>
                        <small>Developed by GPT Uthangarai from the Department of Computer Engineering</small>
                    </p>
                </div>
            </div>
        </div>

    <!-- Footer of the webpage -->


    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->
</body>
</html>