{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub-Reset Password</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

    <!-- The link for the font awesome to import the icons -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The link for the font awesome to import the icons -->

</head>
<body>

    <section class="gptu_mchub-home-rp">
        
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="form-container">
                        <span class="close-icon" data-url="{% url 'home:index' %}" onclick="redirectToPage()">&times;</span>
                        <h2 class="form-title">Reset Password</h2>
                        <form class="row g-2 stack-lg" action="{% url 'home:reset_password' token=token %}" method="POST">
                            {% csrf_token %}
                            <div class="col-12">
                                <input type="password" class="form-control" name="password" placeholder="New Password" required>
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100">Change Password</button>
                            </div>
                            <!-- To Display the Error Message -->
                        
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="custom-message {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                        
                            <!-- To Display the Error Message -->
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Please follow the below given procedure to reset your GPTU Mentor & Counselling Hub account password.</p>
                    <ol>
                        <li>Enter your new password in the <b>"New Password"</b> field.</li>
                        <li>Re-Enter the same password in the <b>"Confirm Password"</b> field.</li>
                        <li>After enter your password just click the <b>"Change Password"</b> button to change the password.</li>
                        <li>If you encounter a message like <b>"Password do not match!"</b> kindly ensure the <b>"New Password"</b> and <b>"Confirm Password"</b> are same.</li>
                        <li>Otherwise you will be redirect to your <b>"Log In"</b> page.</li>
                        <li>Which means You've changed your <b>"GPTU Mentor & Counselling Hub account password"</b> successfully.</li>
                        <li>In the Log In page enter your <b>"Username/User ID" & "New Password"</b> and click the <b>"Log In"</b> button.</li>
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->

    <!-- The Link for the Java Script file -->

        <script src="{% static 'js/script.js' %}"></script>

    <!-- The Link for the Java Script file -->

</body>
</html>
