{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub-Sign Up</title>

    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

</head>
<body>

    <!-- Sign Up page -->
    
        <div class="signup-header">
            <div class="container">
                <div class="signup">
                    <form action="">
                        <div class="signup-row">
                            <div class="signup-col1">
                                <img src="{% static 'images/signup_img.png' %}">
                            </div>
                            <div class="signup-col1">
                                <h1>Sign Up to GPTU MC Hub</h1>

                                <div class="signup-row">
                                    <div class="signup-col2">
                                        <input type="text" placeholder="First name" required>
                                    </div>
                                    <div class="signup-col2">
                                        <input type="text" placeholder="Last name" required>
                                    </div>
                                </div>

                                <div class="signup-row">
                                    <input type="email" placeholder="example@mail.com" required>
                                </div>

                                <div class="signup-row">
                                    <div class="signup-col2">
                                        <input type="text" placeholder="Username" required>
                                    </div>
                                    <div class="signup-col2">
                                        <input type="password" placeholder="Password" required>
                                    </div>
                                </div>

                                <div class="signup-row">
                                    <div class="signup-col2">
                                        <input type="text" placeholder="User ID" required>
                                    </div>
                                    <div class="signup-col2">
                                        <input type="date">
                                    </div>
                                </div>

                                <div class="signup-row">
                                    <div class="signup-col2">
                                        <select name="Department" id="">
                                            <option value="" disabled selected hidden>Department</option>
                                            <option value="">DMECH</option>
                                            <option value="">DCIVIL</option>
                                            <option value="">DEEE</option>
                                            <option value="">DECE</option>
                                            <option value="">DCSE</option>
                                            <option value="">DMX</option>
                                            <option value="">DMT</option>
                                        </select>
                                    </div>
                                    <div class="signup-col2">
                                        <input type="text" value="Faculty">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Sign Up page -->

</body>
</html>