{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTU MC Hub-Sign Up</title>

    <!-- The link for the Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The link for the Bootstrap -->
    
    <!-- The link for the CSS Stylesheet -->
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- The link for the CSS Stylesheet -->

    <!-- The link for the favicon -->

        <link rel="shortcut icon" type="image/png" href="{% static 'images/GPTU Logo.png' %}">

    <!-- The link for the favicon -->

    <!-- The link for the font (Google Fonts) used in the web page -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- The link for the font (Google Fonts) used in the web page-->

    <!-- The link for the font awesome to import the icons -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The link for the font awesome to import the icons -->

</head>
<body>

    <section class="gptu_mchub-home-signup">

        <div class="signup-container">
            <span class="close-icon" data-url="{% url 'login' %}" onclick="redirectToPage()">&times;</span>
            <h1 class="text-center mb-4">Signup</h1>
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="firstName" value="{{first_name}}" placeholder="Enter your first name" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="lastName" value="{{last_name}}" placeholder="Enter your last name" required>
                    </div>
                </div>
            
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}" placeholder="Enter your email" required>
                </div>
            
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="userId" value="{{user_id}}" placeholder="Enter your user ID" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Choose a username" required>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col">
                        <select name="department" class="form-select" required>
                            <option value="" selected disabled>Select Department</option>
                            <option value="dcivil" {% if department == "dcivil" %}selected{% endif %}>DCIVIL</option>
                            <option value="dmech" {% if department == "dmech" %}selected{% endif %}>DMECH</option>
                            <option value="deee" {% if department == "deee" %}selected{% endif %}>DEEE</option>
                            <option value="dece" {% if department == "dece" %}selected{% endif %}>DECE</option>
                            <option value="dcse" {% if department == "dcse" %}selected{% endif %}>DCSE</option>
                            <option value="dmx" {% if department == "dmx" %}selected{% endif %}>DMX</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="userCategory" class="form-select" required>
                            <option value="" selected disabled>Select category</option>
                            <option value="teacher" {% if user_category == "teacher" %}selected{% endif %}>Teacher</option>
                        </select>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col">
                        <input type="password" class="form-control" name="password" placeholder="Create a password" required>
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm your password" required>
                    </div>
                </div>
                <!-- To Display the Error Message -->
            
                    {% if messages %}
                        {% for message in messages %}
                            <div class="custom-message {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
            
                <!-- To Display the Error Message -->
            
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            
        </div>

    </section>

    <!-- The Link for the Bootstrap bundle Script -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- The Link for the Bootstrap bundle Script -->

    <!-- The Link for the Java Script file -->

        <script src="{% static 'js/script.js' %}"></script>

    <!-- The Link for the Java Script file -->

</body>
</html>